---
layout: default
description: A description about my blog homepage
---

<ul class="post-list clearfix">
	{% for post in paginator.posts %}
	<li class="post-item clearfix">
		<div class="title-block">
			<h5 class="comments"> 
				<aside class="p_responses light"> 
				<a href="{{ post.full_url }}#disqus_thread">0</a> 
				</aside> 
			</h5>
			<h5 class="date">{{ post.date | date_to_string }}</h5>
			<h3 class="title" id="posttitle_51441582"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		</div>
		<div class="post-content" id="postbox_51441582">
			<div class="copy" id="post_51441582">
				{{ post.content }}
			</div>
		</div>
		<aside class="p_responses light"> 
		</aside>
	</li>
	{% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page != 1 %}
      <a href="/page{{ paginator.previous_page }}" class="prev_page" rel="prev">&laquo; Previous Page</a>
    {% else %}
      <a href="/" class="prev_page" rel="prev">&laquo; Previous Page</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next_page" rel="next">Next Page &raquo;</a>
  {% endif %}
</div>

<!--
<div id="pages">
  <h2>Pages</h2>
  <ul>
    {% for page in site.html_pages %}
      {% if page.title %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
-->
