---
layout: default
description: A description about my blog homepage
---

    {% for m in (1..12) reversed %}
        {% if page.collated_posts[page.year][m] %}
<ul class="post-list clearfix">
	{% for d in (1..31) reversed %}
		{% if page.collated_posts[page.year][m][d] %}
			{% for post in page.collated_posts[page.year][m][d] reversed %}

	<li class="post-item clearfix">
		<div class="title-block">
			<h5 class="comments"> 
				<aside class="p_responses light"> 
				<a href="{{ post.url }}#disqus_thread">0</a> 
				</aside> 
			</h5>
			<h5 class="date">{{ post.date | date_to_string }}</h5>
			<h3 class="title" id="posttitle_51441582"><a href="{{ post.url }}">{{ post.title }}</a></h3>
		</div>
		<div class="post-content" id="postbox_51441582">
			<div class="copy" id="post_51441582">
				{{ post.content }}
			</div>
			<ul class="social">
				<li class="retweet-button">
				<div class="posterous_tweet_button posterous_horizontal_count"> 
					<a href="http://twitter.com/share" class="posterous_tweet_button twitter-share-button"
						data-url="{{ post.url }}"
						data-via="tedkulp"
						data-text="{{ post.title }}"
						data-count="none"
						data-lang="en">Tweet</a> 
					<!--
					<script type="text/javascript">
						var tweetcount_url = '{{ post.url }}';
						var tweetcount_size = 'small';
					</script>
					<script type="text/javascript" src="http://widgets.backtype.com/tweetcount.js"></script>
					-->
				</div> 
				</li>
				<li class="like-button">
					<div class="posterous_retweet_widget">
						<fb:like href="{{ post.url }}" layout="button_count"></fb:like>
					</div>
				</li>
			</ul>
		</div>
		<aside class="p_responses light"> 
		</aside>
	</li>
	{% endfor %}
	{% endif %}
	{% endfor %}
</ul>
	{% endif %}
	{% endfor %}

<!-- <div class="pagination">
	<span class="disabled prev_page">&laquo; Previous</span> <span class="current">1</span> <a href="http://tedkulp.com?page=2" rel="next">2</a> <a href="http://tedkulp.com?page=3">3</a> <a href="http://tedkulp.com?page=4">4</a> <a href="http://tedkulp.com?page=5">5</a> <a href="http://tedkulp.com?page=6">6</a> <a href="http://tedkulp.com?page=2" class="next_page" rel="next">Next &raquo;</a>
</div> -->

<!--
<div id="pages">
  <h2>Pages</h2>
  <ul>
    {% for page in site.html_pages %}
      {% if page.title %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
-->
